API = JSON FILE

## WORKING WITH JSON

In [1]:
import pandas as pd

In [2]:
df =pd.read_json("16_recipe.json")

In [3]:
df.head()

      id      cuisine                                        ingredients
0  10259        greek  [romaine lettuce, black olives, grape tomatoes...
1  25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2  20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3  22213       indian                [water, vegetable oil, wheat, salt]
4  13162       indian  [black pepper, shallots, cornflour, cayenne pe...

In [4]:
df1= pd.read_json("https://raw.githubusercontent.com/LearnWebCode/json-example/master/animals-1.json")

In [5]:
df1

       name species                                              foods
0    Meowsy     cat  {'likes': ['tuna', 'catnip'], 'dislikes': ['ha...
1     Barky     dog  {'likes': ['bones', 'carrots'], 'dislikes': ['...
2  Purrpaws     cat       {'likes': ['mice'], 'dislikes': ['cookies']}

## WORKING WITH SQL FILE